name: workflow_02
on: [repository_dispatch]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout another repository
        uses: actions/checkout@v3
        with:
          repository: jnavarrete-nttdata/base_frmk_cypress
          ref: report
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
           force: true
           branch: report  # Replace with the branch you want to push
           repository: jnavarrete-nttdata/cypress_report  # Replace with the target repository
           github_token: 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
